#search_box {
	width:300px;
}

#search_name_options {
	width:300px;
	padding-bottom:20px;
}

#search_for {
	width:300px;
    padding-bottom:20px;
}

#search_form {
	width:300px;

}

#search_phone_options {
	width:300px;
	padding-bottom:20px;
}

#search_address_options {
	width:300px;
	padding-bottom:20px;
}

#search_mas90_options {
	width:300px;
	padding-bottom:20px;
}

#search_everything_option {
	width:300px;
	padding-bottom:20px;
}

